.header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    min-height: 293px;
    padding: 0 50px 5px;
}

.header__menu-list {
    display: flex;
    gap: 31px;
}

.header__menu-item {
    font-size: large;
    text-underline-offset: 4px;
    list-style: circle;
}

.header__menu-item:first-child {
    list-style: none;
}

.header__menu-item .link {
    display: block;
    text-decoration-thickness: 2px;
}

.link {
    text-decoration: underline;
}

.link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__address {
    justify-self: end;
    width: 240px;
}

.address {
    font-size: 18px;
    font-style: normal;
    line-height: 1.4;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    z-index: 0;
    min-height: 757px;
    margin-bottom: 153px;
    padding: 50px;
    background: no-repeat center/cover url("../images/cover.jpg");
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 107px 0 98px;
    color: white;
    font-size: 100px;
    line-height: 1.3;
    text-transform: uppercase;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cover__description-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    transition: background ease-in-out 0.2s,
        color ease-in-out 0.2s;
    cursor: pointer;
}

.bet-button:hover {
    color: #000;
    background: #fff;
}

.lots {
    margin-bottom: 90px;
}

.lots__heading {
    padding: 27px 64px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 24px;
    list-style-type: none;
}

.lots__card-list-item {
    flex: 1 1 334px;
    min-height: 596px;
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
}

.card__title {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    line-height: 1.2;
}

.card_type_film,
.card_type_book,
.card_type_picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    display: inline-block;
    margin: 30px 64px;
    font-size: 20px;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
    margin: 0 0 180px 0;
    padding: 35px 24px 0;
}

.about__logo {
    display: flex;
    place-items: center;
    justify-self: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 240px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__column .about__text:not(:last-child) {
    margin-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    min-height: 180px;
    padding: 0 50px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-underline-offset: 4px;
    list-style-type: none;
}

.footer__social-list {
    display: flex;
    justify-self: right;
    gap: 48px;
    list-style-type: none;
}